---
import "./blog.css";
---

<section class="blog">
  <div class="blog__container">
    <div class="blog__block-header block-header block-header--center">
      <h2 class="block-header__title">Explore Insights in Our Blog</h2>
      <div class="block-header__text text">
        <p>Find lots of insights and information on our blog. Explore, learn, and get inspired today.</p>
      </div>
    </div>
    <div class="blog__items"></div>
    <button hidden class="blog__view-more" type="button">View More</button>
  </div>
</section>

<script>
  const blogItems = document.querySelector(".blog__items");
  let data = [];
  let startItem = 0;
  const itemsPerPage = 3;

  async function loadBlogItems() {
    try {
      const response = await fetch("files/blog.json");
      if (!response.ok) throw new Error("Error loading blog data!");
      data = (await response.json()).items;
      renderBlogItems();
    } catch (error) {
      alert(error.message);
    }
  }

  function renderBlogItems() {
    const dataPart = data.slice(startItem, startItem + itemsPerPage);
    dataPart.forEach(buildBlogItem);
    toggleViewMore();
  }

  function buildBlogItem(item) {
    const blogItemTemplate = `
      <article class="blog__item item-blog">
        ${item.image ? `<a class="item-blog__image" href="${item.url}"><img src="${item.image}" alt="Image"></a>` : ""}
        <div class="item-blog__date">${item.date}</div>
        <h4 class="item-blog__title">
          <a class="item-blog__link-title" href="${item.url}">${item.title}</a>
        </h4>
        ${item.text ? `<div class="item-blog__text">${item.text}</div>` : ""}
        ${item.tags ? generateTags(item.tags) : ""}
      </article>
    `;
    blogItems.insertAdjacentHTML("beforeend", blogItemTemplate);
  }

  function generateTags(tags) {
    return `
      <div class="item-blog__tags">
        ${Object.entries(tags)
          .map(([tag, url]) => `<a class="item-blog__tag" href="${url}">${tag}</a>`)
          .join("")}
      </div>
    `;
  }

  function toggleViewMore() {
    const viewMoreButton = document.querySelector(".blog__view-more");
    if (viewMoreButton instanceof HTMLElement) {
      viewMoreButton.hidden = startItem + itemsPerPage >= data.length;
    }
  }

  document.querySelector(".blog__view-more").addEventListener("click", (e) => {
    e.preventDefault();
    startItem += itemsPerPage;
    renderBlogItems();
  });

  if (blogItems) loadBlogItems();
</script>
